@use 'sass:map';
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');

//Global styles
body {
  font-family: 'Poppins', sans-serif !important;
  box-sizing: border-box;
  height: calc(100vh - 5px);
  overflow: hidden;
}